<div class="flex flex-column p-2">
  <mat-form-field>
    <mat-label>Hero Searcher</mat-label>
    <input
      type="text"
      matInput
      [formControl]="searchControl"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="onOptionSelected($event)"
    >
      <ng-container *ngIf="heroes.length > 0; else noResults">
        <!-- ! important: [value]="hero.id" allows you to extract the id when using on the ts file:     const selectedResult = event.option.value;-->
        <mat-option *ngFor="let hero of heroes" [value]="hero.id">
          <!-- ! hero,superhero es just whats going to show up to the user, but the value will be the id -->
          {{ hero.superhero | titlecase }}
        </mat-option>
      </ng-container>

      <ng-template #noResults>
        <mat-option disabled>No names found with the given query...</mat-option>
      </ng-template>
    </mat-autocomplete>
  </mat-form-field>
</div>
